
<%- include('./partials/header') %>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Image Url</label>
      <input class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
    </div>
    <input type="submit" class = "btn btn-success" value = 'Cluck!' style = "margin-top: 15px; float:right;">


  <%- include('./partials/footer') %>
